#c {
    width: 100%;
    height: 100%;
    display: block;
    background: url(gradient.png) no-repeat center center ;
    background-size: cover;
}
body{
    margin:0px;
}
canvas{
    position: absolute;
    z-index: 0;
}

qqq{
    color: black;
    position: absolute;
    z-index: 1;
    background-color:transparent;
    font-size: 20px;
    padding: 10px;
    display:none;
}
.Raspuns{
    color: black;
    position: absolute;
    bottom:0;
    z-index: 2;
    background-color:transparent;
    font-size: 20px;
    padding: 10px;
}
.JustText1{
    color: black;
    position: absolute;
    right:0;
    z-index: 2;
    background-color:transparent;
    font-size: 20px;
    padding: 10px;
}
.JustText2{
    color: black;
    position: absolute;
    right:0;
    bottom:0;
    z-index: 2;
    background-color:transparent;
    font-size: 20px;
    padding: 10px;
}
#qqq{
    color: black;
    position: absolute;
    z-index: 2;
    background-color:transparent;
    font-size: 20px;
    padding: 10px;
}